env/prod/state-machines/project-export-workflow-devlab.json
{
  "Comment": "Project Export Workflow - Distributed Map",
  "StartAt": "ParallelExports",
  "States": {
    "ParallelExports": {
      "Type": "Parallel",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "SendFailureNotification"
        }
      ],
      "Branches": [
        {
          "StartAt": "ExportMetadata",
          "States": {
            "ExportMetadata": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-southeast-1:797233058645:function:wdr-project-export-metadata",
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ]
            }
          }
        },
        {
          "StartAt": "ExportJobList",
          "States": {
            "ExportJobList": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-southeast-1:797233058645:function:wdr-project-export-joblist",
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ]
            }
          }
        },
        {
          "StartAt": "GetJobsForExport",
          "States": {
            "GetJobsForExport": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-southeast-1:797233058645:function:wdr-project-get-jobs-for-export",
              "Next": "Choice",
              "Assign": {
                "jobsDataKey.$": "$.jobsDataKey",
                "bucketName.$": "$.bucketName"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ]
            },
            "Choice": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "SkipJobProcess",
                  "Variable": "$.jobCount",
                  "NumericEquals": 0
                }
              ],
              "Default": "ProcessJobsDistributed"
            },
            "SkipJobProcess": {
              "Type": "Pass",
              "End": true
            },
            "ProcessJobsDistributed": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "DISTRIBUTED",
                  "ExecutionType": "STANDARD"
                },
                "StartAt": "ParallelJobProcessing",
                "States": {
                  "ParallelJobProcessing": {
                    "Type": "Parallel",
                    "Branches": [
                      {
                        "StartAt": "CopyJobResource",
                        "States": {
                          "CopyJobResource": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:ap-southeast-1:797233058645:function:wdr-project-copy-job-export-resource",
                            "End": true,
                            "Retry": [
                              {
                                "ErrorEquals": [
                                  "States.TaskFailed"
                                ],
                                "IntervalSeconds": 2,
                                "MaxAttempts": 3,
                                "BackoffRate": 2
                              }
                            ]
                          }
                        }
                      },
                      {
                        "StartAt": "IsJobHasReport",
                        "States": {
                          "IsJobHasReport": {
                            "Type": "Choice",
                            "Choices": [
                              {
                                "Next": "ExportReportPDF",
                                "Variable": "$.report_id",
                                "IsNull": false
                              }
                            ],
                            "Default": "SkipPDF"
                          },
                          "ExportReportPDF": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:ap-southeast-1:797233058645:function:wdr-pdf-generator",
                            "End": true,
                            "Retry": [
                              {
                                "ErrorEquals": [
                                  "States.TaskFailed"
                                ],
                                "IntervalSeconds": 5,
                                "MaxAttempts": 2,
                                "BackoffRate": 2
                              }
                            ]
                          },
                          "SkipPDF": {
                            "Type": "Pass",
                            "End": true
                          }
                        }
                      }
                    ],
                    "End": true
                  }
                }
              },
              "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                  "InputType": "JSON"
                },
                "Parameters": {
                  "Bucket.$": "$.bucketName",
                  "Key.$": "$.jobsDataKey"
                }
              },
              "MaxConcurrency": 10,
              "ToleratedFailurePercentage": 5,
              "Next": "DeleteObject"
            },
            "DeleteObject": {
              "Type": "Task",
              "Parameters": {
                "Bucket.$": "$bucketName",
                "Key.$": "$jobsDataKey"
              },
              "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
              "End": true
            }
          }
        }
      ],
      "Next": "CombineExports"
    },
    "CombineExports": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:797233058645:function:wdr-project-combine-exports",
      "Parameters": {
        "projectId.$": "$$.Execution.Input.projectId",
        "exportFolder.$": "$$.Execution.Input.exportFolder",
        "outputFile.$": "$$.Execution.Input.outputFile",
        "actor.$": "$$.Execution.Input.actor",
        "projectName.$": "$$.Execution.Input.projectName"
      },
      "Next": "SendSuccessNotification",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "SendFailureNotification"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ]
    },
    "SendSuccessNotification": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:797233058645:function:wdr-project-export-notification",
      "Parameters": {
        "status": "SUCCESS",
        "projectId.$": "$$.Execution.Input.projectId",
        "exportFolder.$": "$$.Execution.Input.exportFolder",
        "actor.$": "$$.Execution.Input.actor",
        "projectName.$": "$$.Execution.Input.projectName",
        "message": "Project export completed successfully",
        "zipKey.$": "$.zipKey"
      },
      "End": true
    },
    "SendFailureNotification": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:797233058645:function:wdr-project-export-notification",
      "Parameters": {
        "status": "FAILED",
        "projectId.$": "$$.Execution.Input.projectId",
        "exportFolder.$": "$$.Execution.Input.exportFolder",
        "actor.$": "$$.Execution.Input.actor",
        "projectName.$": "$$.Execution.Input.projectName",
        "error.$": "$.Error",
        "message": "Project export failed"
      },
      "End": true
    }
  }
}